.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page .header {
    margin-top: 2rem;
    font-size: 2.5rem;
}

.landing-page .sub-header {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.landing-page .hot-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    padding: 2rem;
}

.landing-page .hot-products .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #494949;
    padding: 1rem;
    border-radius: 0.5rem;
}

.landing-page .hot-products .product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.landing-page .hot-products .product h4 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}